<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.ezen.buybuy.mapper.AlertMapper">
	
	<select id="Login" parameterType="com.ezen.buybuy.entity.Members" resultType="com.ezen.buybuy.entity.Members">
		select* from members where member_id=#{member_id}
	</select>
	
	
	
	<select id="AlertList" resultType="com.ezen.buybuy.entity.Alert">
		select * from alert where member_id=#{member_id} order by a_idx desc
	</select>
	<update id="alertUpdate" parameterType="com.ezen.buybuy.entity.Alert">
		update alert set a_state=0 where a_idx=#{a_idx} and member_id=#{member_id};
	</update>

	
	
</mapper>